# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives:**

- List some of the popular languages used in data science
- List some of the popular libraries used in data science
- Provide examples of simple arithmetic expressions

Some of the popular languages that data scientists use are:

1. R
2. Python
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. sci-kit learn
2. pandas
3. numpy

|Data Science Tools|
--------------------
|Watson Studio|
|RStudio|
|JupyterLab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author:
Symron Bansal